.bg-dark {
  background: black;
  color: white;
}

.section-padding {
  /* top right bottom left */
  padding: 65px 30px 60px 30px;
}
.section-header {
  text-align: center;
  margin-bottom: 15px;
}
.subsection-header {
  text-align: center;
  margin-bottom: 12px;
}

.text-container {
  max-width: 750px;
  /* centers price-container */
  margin: auto;
}

.flex-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.price-container {
  max-width: 750px;
  /* centers price-container */
  margin: auto;
  margin-bottom: 12px;
}
.flex-row {
  display: flex;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
