/* Color Styling */
.bg-dark {
  background: rgb(20, 1, 14);
  color: white;
}

/* Section Padding - to pad sections */
.section-padding {
  /* top right bottom left */
  /* extra padding top so smooth scrolling doesn't cut off section headers */
  padding: 90px 30px 40px 30px;
}

/* Header Styling */
.section-header {
  text-align: center;
  margin-bottom: 30px;
}
.subsection-header {
  text-align: center;
  margin: 25px 0 20px;
}

/* container for containing text */
.text-container {
  /* max-width: 750px; */
  max-width: 60vw;
  /* centers price-container */
  margin: auto;
}

/* Flex Items - for displaying elements side by side - Icons and Contact Info */
.flex-items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}
.flex-items > div {
  width: 33%;
}

/* Flex Columns - for formatting and styling tables */
.flex-columns {
  width: 60vw;
  margin: auto;
  margin-bottom: 12px;
}
.flex-columns .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Flex Grid - for Gallery */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.flex-grid .column {
  /* 4 columns next to each other */
  flex: 25%;
  /* making sure columns don't surpass 25% */
  max-width: 25%;
  /* padding on sides */
  padding: 0 4px;
}
.flex-grid .column img {
  max-width: 100%;
}
