.bg-dark {
  background: black;
  color: white;
}

.section-padding {
  /* top right bottom left */
  padding: 65px 30px 60px 30px;
}
.section-header {
  text-align: center;
  margin-bottom: 15px;
}
.subsection-header {
  text-align: center;
  margin-bottom: 12px;
}

/* container for containing text */
.text-container {
  max-width: 750px;
  /* centers price-container */
  margin: auto;
}

.flex-items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}
.flex-items > div {
  width: 33%;
}

/* container for containing price flex columns */
.price-container {
  max-width: 750px;
  /* centers price-container */
  margin: auto;
  margin-bottom: 12px;
}

/* Flex Columns - for displaying items and prices */
.flex-columns .column {
  display: flex;
  flex-direction: column;
}
.flex-columns .row {
  display: flex;
  justify-content: space-between;
}

/* Flex Grid - for Gallery */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.flex-grid .column {
  /* 4 columns next to each other */
  flex: 25%;
  /* making sure columns don't surpass 25% */
  max-width: 25%;
  /* padding on sides */
  padding: 0 4px;
}
.flex-grid .column img {
  max-width: 100%;
}
